@{
    ViewData["Title"] = "Home Page";
    List<Cart> cart = (List<Cart>)ViewData["Cart"];
    List<Product> product = (List<Product>)ViewData["Product"];
    Dictionary<int, int> stockCount = (Dictionary<int, int>)ViewData["StockCount"];
    int orderId = (int)ViewData["OrderId"];
    double totalCost = (double)ViewData["TotalCost"];
}

<link href="~/css/CartStyle.css" rel="stylesheet" type="text/css" />
<link href="~/css/QuantityButtonStyle.css" rel="stylesheet" type="text/css" />

@section Scripts
{
    @*<script src="~/js/QtyBtn.js"></script>*@
}

<style>
    .cart-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cart-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cart-image {
        width: 12rem;
        height: 12rem;
    }
</style>
<div>
    <h2>VIEW CART</h2>
    <hr />
</div>


<div class="cart_header">
    <div class="viewcart">
        <table class="header_table">
            <tr>
                <th></th>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <input type="button" value="CONTINUE SHOPPING" class="cont_shopping" id="" />
                    </a>                  
                </td>
                <td>
                    <form id="form" method="post" action="/Checkout/Index">
                        <div class="btn_wrapper">
                            <input type="submit" value="PROCEED TO CHECKOUT" class="checkout" />
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="price">
        <table>
            <tr>
                <th id="cart_total">CART TOTAL</th>
                <td width="200px" style="text-align:right"><div id="price_total">SGD @totalCost</div></td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both"></div>

@*Not sure how you style your page, added some simple cart for now just to show the correct info
    <div class="cart-container">
        @for (int i = 0; i < cart.Count; i++)
        {
            <div class="cart-items">
                <span>
                    @product[i].Name
                    <img class="cart-image" src=@product[i].Image alt=@product[i].Name />
                </span>
                <span class="quantitybtn">
                    <input type="button" value="-" class="minus" product_id="@cart[i].ProductId" id="item_minus">
                    <input type="hidden" name="productId" value="@cart[i].ProductId" />
                    <input type="number" name="quantity" value="@cart[i].Quantity"  id="item_input" min="1" max="@stockCount[cart[i].ProductId]"  title="Qty" class="input-text">
                    <input type="button" value="+" class="plus" product_id="@cart[i].ProductId" id="item_plus">
                    <button product_id="@cart[i].ProductId" class="btn btn-danger ml-2 remove">Remove</button>
                </span>
            </div>
        }
    </div>
    <form method="post" action="/ShoppingCart/Checkout">
         <input type="hidden" name="orderId" value="@orderId"/>
         <button type="submit">CheckOut</button>
    </form>*@


<table>
    @for (int i = 0; i < cart.Count; i += 2)
    {
        int j;
        <tr>
            @for (j = 0; j < 2 && i + j < cart.Count; j++)
            {
                <td>
                    <div class="cart_content">
                        <div class="item_container">
                            <div class="item_display">
                                @{
                                    string url = product[i + j].Image;
                                    string desc = product[i + j].Description;
                                    string name = product[i + j].Name;
                                    int id = cart[i + j].ProductId;
                                    int qty = cart[i + j].Quantity;
                                }
                                <img src=@url class="item_img" />
                                <div class="desc_container">
                                    <p class="item_name"><b>@name</b></p>
                                    <p>@desc</p>
                                </div>
                            </div>
                        </div>
                        <div class="item_calculator">
                            <div class="calculator">
                                <table>
                                    <tr>
                                        <td>
                                        </td>
                                        <td width="100px">
                                            <div class="quantitybtn">
                                                <input type="button" value="-" class="minus" product_id="@id" id="item_minus" />
                                                <input type="number" name="quantity" value="@qty" id="item_input" min="1" max="@stockCount[id]" title="Qty" class="input-text" onkeydown="return false" />
                                                <input type="button" value="+" class="plus" product_id="@id" id="item_plus" />
                                                <input type="hidden" name="productId" value="@id" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>EACH</th>
                                        <td>SGD @product[i + j].Price</td>
                                    </tr>
                                    <tr>
                                        <th>SUBTOTAL</th>
                                        <td>
                                            <div class="item_subprice">SGD @((@product[i + j].Price) *(cart[i+j].Quantity))</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="item_delete">
                                                <img product_id="@id" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlP5KUHwia9MiER09OFBNh9TBOr4VFYipC0w&usqp=CAU" class="remove" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            }
            @for (; j < 2; j++)
            {
                <td></td>
            }
        </tr>
    }
</table>


<script>
    // Commented out QtyBtn.js
    window.onload = function () {
        let minusButtons = document.getElementsByClassName("minus");
        for (minusButton of minusButtons) {
            minusButton.addEventListener("click", QtyMinus);
        }

        let plusButtons = document.getElementsByClassName("plus");
        for (plusButton of plusButtons) {
            plusButton.addEventListener("click", QtyPlus);
        }

        let removeButtons = document.getElementsByClassName("remove");
        for (removeButton of removeButtons) {
            removeButton.addEventListener("click", Remove);
        }
    }

    function QtyMinus(event) {
        let elem = event.currentTarget;
        let productId = elem.getAttribute("product_id");
        ChangeCartQty(productId, "minus");
    }

    function QtyPlus(event) {
        let elem = event.currentTarget;
        let productId = elem.getAttribute("product_id");
        ChangeCartQty(productId, "plus");
    }

    function Remove(event) {
        let elem = event.currentTarget;
        let productId = elem.getAttribute("product_id");
        ChangeCartQty(productId, "remove");
    }

    function ChangeCartQty(productId, action) {
        let xhr = new XMLHttpRequest();

        xhr.open("POST", "/ShoppingCart/ChangeCartQty");
        xhr.setRequestHeader("Content-Type", "application/json; charset=utf8");

        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE) {
                // receive response from server
                if (this.status === 200 || this.status === 302) {
                    let data = JSON.parse(this.responseText);

                    if (this.status === 200 && data.status == "success") {
                        console.log("Successful operation: " + data.status);
                        // Need to refresh current window for changes to show
                        location.reload();
                    }
                    else {
                        // Redirect user to login page if user not yet login
                        window.location.assign(window.location.href + "Login/Index");
                    }
                }
            }
        };

        xhr.send(JSON.stringify({
            ProductId: productId,
            Action: action
        }));
    }

</script>



@*below is just a repetition of another item
    <div class="item_container">
        <div class="item_display">
            <img src="https://thumbs.dreamstime.com/b/cosine-graph-cosine-waves-graph-icon-vector-image-can-also-be-used-math-symbols-suitable-mobile-apps-web-apps-print-100322977.jpg" class="item_img" />
            <div class="desc_container">
                <p class="item_name"><b>.NET Numerics</b></p>
                <p>Powerful numerical methods for your .NET simulations.</p>
            </div>
        </div>
    </div>
    <div class="item_calculator">
        <div class="calculator">
            <table>
                <tr>
                    <td>
                    </td>
                    <td width="100px">
                        <div class="quantitybtn">
                            <input type="button" value="-" class="minus" onclick="calculateTotal_item2b()"><input type="number" id="num2" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus" onclick="calculateTotal_item2a()">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>EACH</th>
                    <td></td>
                </tr>

                <tr>
                    <th>SUBTOTAL</th>
                    <td>
                        <div class="item_subprice"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="item_delete">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlP5KUHwia9MiER09OFBNh9TBOr4VFYipC0w&usqp=CAU" class="delete_icon" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>*@



