@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Dictionary<Product, List<ActivationCode>> acLookup = (Dictionary<Product, List<ActivationCode>>)ViewData["acLookup"];
    Dictionary<Order, List<Cart>> cartLookup = (Dictionary<Order, List<Cart>>)ViewData["cartLookup"];
}

<link href="~/css/OrderHistory.css" rel="stylesheet" type="text/css" />

<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h2>ORDER HISTORY</h2>
    <hr />
</div>


@foreach (Order order in cartLookup.Keys)
{
    <div class="order-container">
        <div class="order-id">Order: @order.Id</div>
        <div class="order-date">Placed on: @order.CheckOutDate</div>
        <hr />
        @{
            double totalPrice = 0;
        }
        @foreach (Cart cart in cartLookup[order])
        {

            double subprice = cart.Quantity * cart.Product.Price;
            totalPrice += subprice;

            <div class="order-item-container">
                <table style="min-width: 1000px">
                    <tr>
                        <td class="img-cell"><img src=@cart.Product.Image class="order-item-img" /></td>
                        <td class="des-cell">
                            @cart.Product.Name
                        </td>
                        <td class="qty-cell">
                            <span class="tag">Qty:</span> @cart.Quantity
                        </td>
                        <td class="price-cell">
                            <span>Price:</span> SGD @subprice
                        </td>
                        <td class="ac-cell">
                            Activation Codes:
                            <select id="acs">
                                @foreach (ActivationCode ac in acLookup[cart.Product])
                                {
                                    if (ac.OrderId == order.Id)
                                    {
                                        <option>@ac.ActivationCodeId</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        }
        <hr />
        <div style="margin-bottom: 15px;" class="order-total-price"><span style="font-weight:bold">Total Price: </span>SGD @totalPrice</div>
    </div>
}

