@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Dictionary<Product, List<ActivationCode>> acLookup = (Dictionary<Product, List<ActivationCode>>)ViewData["acLookup"];
    Dictionary<Order, List<Cart>> cartLookup = (Dictionary<Order, List<Cart>>)ViewData["cartLookup"];
}

<link href="~/css/OrderHistory.css" rel="stylesheet" type="text/css" />

<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h2>ORDER HISTORY</h2>
    <hr />
</div>


@foreach (Order order in cartLookup.Keys)
{
<div class="order-container">
    <div class="order-id">Order: @order.Id</div>
    <div class="order-data">Placed on: @order.CheckOutDate</div>
    <hr />
    @{
        double totalPrice = 0;
    }
    @foreach (Cart cart in cartLookup[order])
    {

        double subprice = cart.Quantity * cart.Product.Price;
        totalPrice += subprice;

        <div class="order-item-container">
            <table style="min-width: 800px; padding-top:15px">
                <tr>

                    <td class="img-cell">
                        <a href="@Url.Action("Index", "ProductPg", new { productid = cart.Product.Id })">
                            <img src=@cart.Product.Image class="order-item-img" />
                        </a>
                    </td>
                    <td class="des-cell">
                        <a href="@Url.Action("Index", "ProductPg", new { productid = cart.Product.Id })">
                            <p>@cart.Product.Name</p>
                        </a>
                    </td>
                    <td class="des-cell">
                        Qty: @cart.Quantity
                    </td>
                    <td class="des-cell">
                        Price: SGD @subprice
                    </td>
                    <td class="ac-cell">
                        <span>Activation Codes:</span>
                        <select id="acs">
                            @foreach (ActivationCode ac in acLookup[cart.Product])
                            {
                                if (ac.OrderId == order.Id)
                                {
                                    <option>@ac.ActivationCodeId</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    }
    <div style="margin-bottom: 15px;" class="order-data">Total Price: @totalPrice</div>
</div>
}


@*
    @foreach (Order order in orders)
    {
        <div class="order-container">
            <div class="order-id">Order: @order.Id</div>
            <div class="order-data">Placed on: @order.CheckOutDate</div>
            <hr />
            @foreach (Product product in acLookup.Keys)
            {
                <div class="order-item-container">
                    <table style="min-width: 800px; padding-top:15px">
                        <tr>
                            <td class="img-cell"><img src=@product.Image class="order-item-img" /></td>
                            <td class="des-cell">
                                <p>@product.Name</p>
                            </td>
                            <td class="qty-cell">
                                Qty: @acLookup[product].Count
                            </td>
                            <td class="ac-cell">
                                <span>Activation Codes:</span>
                                <select id="acs">
                                    @foreach (ActivationCode ac in acLookup[product])
                                    {
                                        if (ac.OrderId == order.Id)
                                        {
                                            <option>@ac.ActivationCodeId</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    }
*@


@*
    @foreach (Product product in acLookup.Keys)
    {
        <ul>
            <li>@product.Name</li>
            @foreach (ActivationCode ac in acLookup[product])
            {
                <li>@ac.ActivationCodeId, @ac.Order.CheckOutDate</li>
            }
        </ul>
    }
*@
