@{
    ViewData["Title"] = "Home Page";
    PaginatedList<Product> paginatedList = (PaginatedList<Product>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";

    List<Cart> cart = (List<Cart>)ViewData["Cart"];

    Dictionary<int, int> paginatedStockCount = (Dictionary<int, int>)ViewData["paginatedStockCount"];

    string changedCart = (string)ViewData["changedCart"];
}

<link href="~/css/Home.css" rel="stylesheet" type="text/css" />

<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h2>PRODUCTS</h2>
    <hr />
</div>

<div>
    @if (changedCart == "true")
    {
        <script>
            if (sessionStorage.getItem("alerted") == null) {
                alert("Removed some items from your cart beacuse its sold out");
                sessionStorage.setItem("alerted", "yes");
            }
        </script>

    }
</div>
<div>
    @if (changedCart == "true")
    {
        <script>
            if (sessionStorage.getItem("alerted") == null) {
                alert("Removed some items from your cart beacuse its sold out");
                sessionStorage.setItem("alerted", "yes");
            }
        </script>

    }
</div>
<div class="product-container">
    @foreach (Product product in paginatedList)
    {
        <div class="product-item">
            <div>
                <a href="@Url.Action("Index", "ProductPg", new { productid = product.Id })">
                    <img src=@product.Image alt=@product.Name />
                </a>
            </div>
            <div>
                <a href="@Url.Action("Index", "ProductPg", new { productid = product.Id })">
                    <h5>@product.Name</h5>
                </a>
            </div>
            <div>
                <p>@product.Description</p>
            </div>
            <div>
                @if (paginatedStockCount[product.Id] > 0)
                {
                    <button class="btn btn-primary add-to-cart" product_id=@product.Id><span class="mr-1">$@product.Price</span>Add To Cart</button>
                }
                else
                {
                    <button value=@product.Id class="btn btn-danger" disabled>
                        Out Of Stock
                    </button>
                }
            </div>
        </div>
    }
</div>

<a asp-action="Index"
   asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

@section Scripts
{
    <script src="~/js/Home_AddToCart.js"></script>
}
